# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# Ignore all .idea directories in any subfolder
**/.idea/

# Ignore the local published repos if you don't have them
local-repo

# Ignore incremental kotlin folder
.kotlin

